@media only screen and (min-width: 701px) {
  @font-face {
    font-family: PoppinsSemibold;
    src: url(../fonts/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
  }
  @font-face {
    font-family: OpenSansMedium;
    src: url(../fonts/OpenSans-Medium.ttf);
  }
  @font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
  }
  /* 4484CE  */
  /* ----------------------------------------- */
  /* ------------ START CSS RESET  ----------- */
  /* ----------------------------------------- */
  /* line 56, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  /* line 146, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav {
    display: block;
  }
  /* line 159, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  body {
    line-height: 1;
  }
  /* line 163, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  blockquote,
  q {
    quotes: none;
  }
  /* line 168, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  /* line 176, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /* line 181, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  * {
    padding: 0;
    margin: 0;
  }
  /* ----------------------------------------- */
  /* ------------- END CSS RESET  ------------ */
  /* ----------------------------------------- */
  /* line 190, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  body {
    background-color: #E6F2FF;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
  }
  /* line 197, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  body * {
    box-sizing: border-box;
  }
  /* ----------------------------------------- */
  /* ----------------- MIXINS  --------------- */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /* -------------- TEXT STYLES  ------------- */
  /* ----------------------------------------- */
  /* line 301, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h1 {
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 301, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h1 {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 301, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h1 {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 305, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h2 {
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 24pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 305, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h2 {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 305, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h2 {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 305, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h2 {
    font-size: 26pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 305, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h2 {
    font-size: 28pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 310, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h3 {
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 20pt;
    font-family: 'PoppinsMedium', sans-serif;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 310, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h3 {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 310, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h3 {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 310, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h3 {
    font-size: 22pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 310, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h3 {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 316, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  p {
    font-size: 14pt;
    line-height: 18pt;
    font-family: "OpenSansLight", sans-serif;
    display: block;
    color: #FFF;
    font-weight: 100;
    margin-bottom: 10pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 316, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  p {
    font-size: 16pt;
    line-height: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 320, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h4 {
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 18pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 320, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h4 {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 320, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h4 {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 320, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h4 {
    font-size: 18pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 320, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  h4 {
    font-size: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 326, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  p strong {
    font-family: 'OpenSansSemiBold', sans-serif;
  }
  /* line 330, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  li {
    font-size: 14pt;
    line-height: 18pt;
    font-family: "OpenSansLight", sans-serif;
    display: block;
    color: #FFF;
    font-weight: 100;
    margin-bottom: 10pt;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 330, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  li {
    font-size: 16pt;
    line-height: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 335, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .leadin {
    font-size: 20pt;
    font-family: 'PoppinsMedium', sans-serif;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 335, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .leadin {
    font-size: 22pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 335, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .leadin {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 701px) {
  /* ----------------------------------------- */
  /* --------------- MAIN GRID  -------------- */
  /* ----------------------------------------- */
  /* line 343, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  div.main_grid {
    display: grid;
    grid-gap: 20px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    grid-template-columns: 10% auto auto auto auto auto auto 10%;
    grid-template-rows: 40px auto auto auto auto auto;
    grid-template-areas: "header header header header header header header header" "a a a a a a a a" "b b b b b b b b" "c c c c c c c c" "d d d d d d d d" "e e e e e e e e" "footer footer footer footer footer footer footer footer";
  }
  /* line 362, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-area: 1 / 3 / 1 / span 6;
    grid-gap: 0;
    position: relative;
  }
}

@media only screen and (min-width: 701px) and (min-width: 500px) {
  /* line 372, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob {
    grid-area: 1 / 1 / 4 / span 8;
    width: 100%;
    margin-top: 0;
    z-index: -10;
  }
  /* line 378, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob img {
    width: 100%;
  }
  /* line 383, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back {
    grid-area: 1 / 1 / 4 / span 8;
    width: 100%;
    margin-top: 0;
    z-index: -20;
  }
  /* line 389, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back img {
    width: 100%;
  }
}

@media only screen and (min-width: 701px) and (min-width: 880px) {
  /* line 396, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob {
    grid-area: 1 / 2 / 4 / span 7;
    width: 100%;
    margin-top: 0;
    z-index: -10;
  }
  /* line 402, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob img {
    width: 100%;
  }
  /* line 407, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back {
    grid-area: 1 / 1 / 4 / span 7;
    width: 100%;
    margin-top: 0;
    z-index: -20;
  }
  /* line 413, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back img {
    width: 100%;
  }
  /* line 419, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2n) .blob_back {
    grid-area: 1 / 2 / 4 / span 7;
  }
  /* line 423, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2n) .blob {
    grid-area: 1 / 1 / 4 / span 7;
  }
  /* line 429, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2) .blob {
    grid-area: 1 / 1 / 4 / span 8;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 436, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob {
    grid-area: 1 / 2 / 4 / span 7;
    width: 100%;
    margin-top: 0;
    z-index: -10;
  }
  /* line 442, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob img {
    width: 100%;
  }
  /* line 447, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back {
    grid-area: 1 / 1 / 4 / span 7;
    width: 100%;
    margin-top: 0;
    z-index: -20;
  }
  /* line 453, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content .blob_back img {
    width: 100%;
  }
  /* line 459, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2n) .blob_back {
    grid-area: 1 / 2 / 4 / span 7;
  }
  /* line 463, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2n) .blob {
    grid-area: 1 / 1 / 4 / span 7;
  }
  /* line 469, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content:nth-of-type(2) .blob {
    grid-area: 1 / 1 / 4 / span 8;
  }
}

@media only screen and (min-width: 701px) {
  /* line 476, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content.homepage {
    grid-area: a;
  }
  /* line 480, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content.services {
    grid-area: b;
  }
  /* line 484, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content.about {
    grid-area: c;
  }
  /* line 488, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content.testimonials {
    grid-area: d;
  }
  /* line 492, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .main_content.contact {
    grid-area: e;
  }
  /* ----------------------------------------- */
  /* ---------------- Navigation  ------------ */
  /* ----------------------------------------- */
  /* line 500, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .top_nav_container {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  /* line 507, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .logo {
    margin: 0;
  }
  /* line 510, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .logo img {
    height: 150px;
  }
  /* line 515, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation {
    list-style: none;
    justify-items: center;
    text-transform: uppercase;
    background: #3478C5;
    display: grid;
    grid-template-columns: 13% auto 15% auto auto auto auto 4% auto 10%;
    grid-gap: 1px;
    box-shadow: 0px 2px 10px rgba(3, 47, 97, 0.5);
  }
  /* line 526, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li {
    grid-row: 1;
  }
  /* line 530, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_logo {
    grid-column: 2 / 2;
  }
  /* line 534, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_services {
    grid-column: 4 / 4;
  }
  /* line 538, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_about {
    grid-column: 5 / 5;
  }
  /* line 542, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_contact {
    grid-column: 7 / 7;
  }
  /* line 546, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_testimonials {
    grid-column: 6 / 6;
  }
  /* line 550, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_icons {
    grid-column: 9 / 9;
  }
  /* line 553, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  ul.navigation li.n_icons div {
    display: inline-flex;
    margin-top: -13px;
  }
  /* line 560, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .mobilenav {
    display: none;
  }
  /* line 568, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .navigation a,
  .mobilenav a {
    font-family: "OpenSansLight", sans-serif;
    background-image: linear-gradient(#E6F2FF, #E6F2FF);
    background-position: 0 94%;
    background-repeat: no-repeat;
    background-size: 0;
  }
  /* line 576, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .navigation a:hover,
  .mobilenav a:hover {
    background-size: 100% 2px;
  }
  /* line 581, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .navigation a,
  .navigation i,
  .mobilenav a,
  .mobilenav i {
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .125rem;
    display: block;
    padding: 1em 0.5em 0 0.5em;
    color: #E6F2FF;
    line-height: 40px;
  }
  /* line 591, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .navigation a img,
  .navigation i img,
  .mobilenav a img,
  .mobilenav i img {
    height: 40px;
    width: auto;
  }
  /* line 597, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .navigation a li:first-of-type a,
  .navigation i li:first-of-type a,
  .mobilenav a li:first-of-type a,
  .mobilenav i li:first-of-type a {
    border-bottom: none;
  }
  /* ----------------------------------------- */
  /* ---------------- BUTTONS  --------------- */
  /* ----------------------------------------- */
  /* line 609, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  a.button_01 {
    display: inline-block;
    padding: 0.5em 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'NotoSansMed', sans-serif;
    color: #E6F2FF;
    background-color: #599BE8;
    text-align: center;
    transition: all 0.2s;
    border-radius: 30px;
  }
  /* line 621, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  a.button_01 i {
    margin-right: 0.5em;
    font-size: 1.2em;
  }
  /* line 627, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  a.button_01:hover {
    color: #3478C5;
    background-color: #E6F2FF;
  }
  /* line 633, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #toggle {
    position: absolute;
    appearance: none;
    cursor: pointer;
    left: -100%;
    top: -100%;
  }
  /* line 641, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #toggle + label {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #E6F2FF;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'NotoSans', sans-serif;
    font-weight: 300;
    color: #E6F2FF;
    background-color: #599BE8;
    text-align: center;
    transition: all 0.2s;
    border-radius: 5px;
  }
  /* line 656, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #toggle + label:hover {
    color: #3478C5;
    background-color: #E6F2FF;
  }
  /* ----------------------------------------- */
  /* ---------------- HOMEPAGE  -------------- */
  /* ----------------------------------------- */
  /* line 665, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .home_copy {
    grid-area: 2 / 2 / 2 / span 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 701px) and (min-width: 700px) {
  /* line 665, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .home_copy {
    grid-area: 2 / 2 / 2 / span 4;
  }
}

@media only screen and (min-width: 701px) and (min-width: 880px) {
  /* line 665, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .home_copy {
    grid-area: 2 / 3 / 2 / span 3;
  }
}

@media only screen and (min-width: 701px) {
  /* line 684, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .welcome_text {
    grid-area: 1 / 1 / 1 / span 2;
    margin-bottom: 3em;
  }
  /* line 690, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us {
    position: relative;
    background-color: #032F61;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(3, 47, 97, 0.3);
  }
}

@media only screen and (min-width: 701px) and (min-width: 900px) {
  /* line 690, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us {
    grid-area: 2 / 2 / 2 / 2;
  }
}

@media only screen and (min-width: 701px) {
  /* line 702, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us p {
    font-size: 14pt;
    line-height: 18pt;
    font-family: "OpenSansLight", sans-serif;
    display: block;
    color: #FFF;
    font-weight: 100;
    margin-bottom: 10pt;
    margin-bottom: 5pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 702, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us p {
    font-size: 16pt;
    line-height: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 707, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us:before {
    content: "VISIT US";
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 20pt;
    color: #032F61;
    margin-top: -34pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 707, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us:before {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 707, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us:before {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 707, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us:before {
    font-size: 22pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 707, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .visit_us:before {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 716, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours {
    grid-area: 2 / 1 / 2 / 1;
    border-radius: 5px;
    background-color: #032F61;
    padding: 1em;
    box-shadow: 0px 0px 12px rgba(3, 47, 97, 0.3);
  }
}

@media only screen and (min-width: 701px) and (min-width: 900px) {
  /* line 716, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours {
    grid-area: 2 / 1 / 2 / 1;
  }
}

@media only screen and (min-width: 701px) {
  /* line 728, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours:before {
    content: "HOURS";
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 38pt;
    display: block;
    color: #E6F2FF;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 20pt;
    color: #032F61;
    margin-top: -34pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 728, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours:before {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 728, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours:before {
    font-size: 72pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 728, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours:before {
    font-size: 22pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 728, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours:before {
    font-size: 24pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 737, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li {
    color: #E6F2FF;
  }
  /* line 740, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li:nth-of-type(odd) {
    font-family: "PoppinsSemibold", sans-serif;
    font-size: 18pt;
    line-height: 22pt;
    display: block;
    font-weight: bold;
  }
  /* line 748, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li:nth-of-type(2) {
    font-family: PoppinsMedium, sans-serif;
    font-size: 24pt;
    display: block;
    color: #3478C5;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 701px) and (min-width: 880px) {
  /* line 748, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li:nth-of-type(2) {
    font-size: 36pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1020px) {
  /* line 748, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li:nth-of-type(2) {
    font-size: 42pt;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 748, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .hours ul li:nth-of-type(2) {
    font-size: 48pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 763, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .map {
    margin-top: 1em;
    grid-area: 3 / 1 / 3 / span 2;
  }
  /* line 768, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .illustration {
    position: absolute;
    right: 0;
    top: 80px;
  }
  /* line 773, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .homepage .illustration img {
    width: 38vw;
  }
  /* ----------------------------------------- */
  /* ---------------- SERVICES  -------------- */
  /* ----------------------------------------- */
  /* line 787, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services {
    grid-area: 2 / 4 / 2 / span 3;
    display: grid;
    grid-template-columns: 48% auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
  /* line 794, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services h2 {
    grid-area: 1 / 1 / 1 / span 2;
  }
  /* line 798, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services ul:first-of-type {
    padding-left: 2em;
    grid-area: 2 / 1 / 2 / 1;
  }
  /* line 802, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services ul:first-of-type li:before {
    content: "\f14a";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 12pt;
    margin-left: -2em;
    margin-right: 1em;
    color: #C1DDFE;
  }
  /* line 813, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services .special {
    grid-area: 2 / 2 / 2 / 2;
  }
  /* line 816, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services .special ul {
    padding-left: 2em;
  }
  /* line 819, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services .special ul li {
    margin-bottom: 0.5em;
  }
  /* line 822, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .grooming_services .special ul li:before {
    content: "\f1b0";
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    font-size: 13pt;
    margin-left: -2em;
    margin-bottom: 1em;
    color: #E6F2FF;
  }
  /* line 836, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .illustration {
    position: absolute;
    left: -65px;
    top: 80px;
    transform: scaleX(-1);
  }
  /* line 842, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .services .illustration img {
    width: 40vw;
  }
  /* ----------------------------------------- */
  /* ------------------ ABOUT ---------------- */
  /* ----------------------------------------- */
  /* line 854, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us {
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17% 17% 17%;
    grid-area: 1 / 2 / 1 / span 7;
    grid-template-rows: 50px auto auto 16vw 16vw;
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 701px) and (min-width: 830px) {
  /* line 854, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us {
    grid-template-rows: 100px auto auto 16vw 16vw;
    grid-area: 1 / 3 / 1 / span 6;
  }
}

@media only screen and (min-width: 701px) {
  /* line 871, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us h2 {
    grid-area: 2 / 1 / 2 / span 3;
  }
  /* line 875, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us p {
    grid-area: 3 / 1 / 3 / span 3;
  }
  /* line 879, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div.button {
    grid-area: 4 / 3;
  }
  /* line 883, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  /* line 888, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div img {
    max-width: 100%;
    height: 100%;
    box-shadow: 0px 0px 12px rgba(3, 47, 97, 0.3);
  }
}

@media only screen and (min-width: 701px) and (min-width: 600px) {
  /* line 895, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(2) {
    grid-area: 4 / 1 / 4 / 1;
  }
  /* line 898, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(2) img {
    object-fit: cover;
  }
  /* line 904, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(3) {
    grid-area: 4 / 3 / 4 / 3;
  }
  /* line 907, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(3) img {
    object-fit: cover;
  }
  /* line 913, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(4) {
    grid-area: 3 / 4 / span 2 / span 2;
  }
  /* line 916, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(4) img {
    object-fit: cover;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1400px) {
  /* line 923, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(2) {
    grid-area: 4 / 1 / 4 / span 2;
  }
  /* line 927, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(3) {
    grid-area: 5 / 2 / 5 / span 2;
  }
  /* line 931, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .about .about_us div:nth-of-type(4) {
    grid-area: 3 / 4 / span 3 / span 2;
  }
}

@media only screen and (min-width: 701px) {
  /* ----------------------------------------- */
  /* -------------- TESTIMONIALS ------------- */
  /* ----------------------------------------- */
  /* line 944, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials {
    margin-top: 10vw;
    background-color: #3478C5;
    /* external css: flickity.css */
  }
  /* line 948, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials h2 {
    grid-area: 1 / 3 / 1 / span4;
    margin-top: -31px;
    color: #3478C5;
  }
  /* line 954, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .flickity-page-dots {
    display: none;
  }
  /* line 958, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .flickity-viewport {
    height: 270px !important;
  }
  /* line 962, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .testimonials_pets {
    grid-area: 3 / 1 / 3 / span 8;
    background-color: #E6F2FF;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0;
  }
  /* line 971, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery {
    margin-top: 2em;
    grid-area: 1 / 2 / 1 / span 6;
    display: grid;
    grid-gap: 22px;
    border-radius: 5px;
    grid-template-areas: "img1 img1 img3 img5 img5 img8" "img1 img1 img4 img6 img9 img9" "img2 img2 img4 img7 img9 img9";
    grid-template-rows: 10vw 10vw 10vw;
  }
  /* line 983, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div {
    max-width: 100%;
    height: 100%;
  }
  /* line 987, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div img {
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
  }
  /* line 993, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(1), .testimonials .pet_gallery div:nth-of-type(3), .testimonials .pet_gallery div:nth-of-type(5), .testimonials .pet_gallery div:nth-of-type(8) {
    align-self: flex-start;
  }
  /* line 1000, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(2), .testimonials .pet_gallery div:nth-of-type(4), .testimonials .pet_gallery div:nth-of-type(7), .testimonials .pet_gallery div:nth-of-type(9) {
    align-self: flex-end;
  }
  /* line 1007, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(1) {
    grid-area: img1;
  }
  /* line 1011, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(2) {
    grid-area: img2;
  }
  /* line 1015, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(3) {
    grid-area: img3;
  }
  /* line 1019, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(4) {
    grid-area: img4;
  }
  /* line 1023, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(5) {
    grid-area: img5;
  }
  /* line 1027, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(6) {
    grid-area: img6;
  }
  /* line 1031, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(7) {
    grid-area: img7;
  }
  /* line 1035, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(8) {
    grid-area: img8;
  }
  /* line 1039, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .pet_gallery div:nth-of-type(9) {
    grid-area: img9;
  }
  /* line 1047, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery {
    margin-top: 1em;
    grid-area: 1 / 3 / span 2 / span 4;
  }
  /* line 1052, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell {
    width: 20vw;
    height: 220px;
    padding: 1em 1em 0 1em;
    background-color: #3478C5;
    border-radius: 10px;
    margin-top: 1.2em;
    text-align: center;
    position: relative;
    margin-right: 2em;
    filter: drop-shadow(-4px -4px 6px rgba(77, 168, 218, 0.24)) drop-shadow(4px 4px 9px rgba(2, 45, 95, 0.15));
  }
  /* line 1064, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .review {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 1069, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .review p {
    font-size: 0.65em;
    line-height: 1.4em;
  }
  /* line 1074, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .review i {
    display: inline-block;
    font-size: 14pt;
    line-height: 18pt;
    color: #3478C5;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 1074, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .review i {
    font-size: 16pt;
    line-height: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* line 1081, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell i.fa-star {
    color: #efba42;
    padding-right: 3pt;
    display: flex;
    flex-direction: row;
    font-size: 12pt;
  }
  /* line 1089, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 5px 0;
    line-height: normal;
    position: absolute;
    bottom: 15px;
  }
  /* line 1098, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .testimonials .gallery-cell .stars p {
    font-family: NotoSansMed, sans-serif;
    font-size: 12pt;
  }
  /* ----------------------------------------- */
  /* ---------------- CONTACT ---------------- */
  /* ----------------------------------------- */
  /* line 1111, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .contact {
    grid-column-gap: 20px;
    grid-row-gap: 0;
    background-color: #3478C5;
    padding-bottom: 15vw;
  }
  /* line 1117, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .contact .email_form {
    grid-area: 2 / 4 / 2 / span 2;
  }
  /* line 1121, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  .contact div.button {
    width: 100%;
    text-align: center;
    margin-top: 5em;
  }
  /* ----------------------------------------- */
  /* ------------- EMAIL FORM ---------------- */
  /* ----------------------------------------- */
  /* line 1134, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  /* line 1152, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm ::placeholder {
    font-size: 14pt;
    line-height: 18pt;
    font-family: "OpenSansLight", sans-serif;
    display: block;
    color: #FFF;
    font-weight: 100;
    margin-bottom: 10pt;
    font-size: 11pt;
    color: #C1DDFE;
  }
}

@media only screen and (min-width: 701px) and (min-width: 1200px) {
  /* line 1152, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm ::placeholder {
    font-size: 16pt;
    line-height: 18pt;
  }
}

@media only screen and (min-width: 701px) {
  /* border, padding, margin, width */
  /* line 1159, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element,
  #fs-frm input {
    background-color: #3478C5;
    border: 1px solid #E6F2FF;
    border-radius: 5px;
    padding: .75em 1.25rem;
    margin-bottom: 1.5rem;
  }
  /* line 1171, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input {
    transition: box-shadow 300ms ease-out;
  }
  /* line 1175, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input:focus,
  #fs-frm textarea:focus {
    box-shadow: 0px 0px 5px 0px #E6F2FF;
  }
  /* line 1180, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input.button_01 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #E6F2FF;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'NotoSans', sans-serif;
    font-weight: 300;
    color: #E6F2FF;
    background-color: #599BE8;
    text-align: center;
    transition: all 0.2s;
    border-radius: 5px;
    width: 100%;
  }
  /* line 1196, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input.button_01:hover {
    color: #3478C5;
    background-color: #E6F2FF;
  }
  /* line 1201, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 100%;
  }
  /* line 1206, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  /* line 1220, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  /* line 1225, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm select {
    text-transform: none;
  }
  /* line 1229, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  /* line 1238, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  /* address, locale */
  /* line 1245, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  /* line 1251, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  /* line 1255, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  /* line 1260, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }
  /* line 1268, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  #fs-frm input,
  #fs-frm textarea {
    font-family: "OpenSansLight", sans-serif;
    font-size: 12pt;
    color: #E6F2FF;
  }
  /* line 1276, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  div.form_cell {
    position: relative;
    margin-top: 1.5em;
  }
  /* line 1280, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  div.form_cell label {
    font-family: "OpenSansLight", sans-serif;
    font-size: 14pt;
    color: #E6F2FF;
    position: absolute;
    top: -10px;
    left: 10px;
    display: inline-block;
    z-index: 3;
    width: auto;
    color: #E6F2FF;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 1296, ../../../../../Users/ulyncs1/Desktop/BARNDOG_GROOMING/sass/style.scss */
  div.form_cell label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3478C5;
    height: 12px;
    width: 100%;
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */