       /* ----------------------------------------- */
       /* ----------------- VARIABLES  --------------- */
       /* ---------------------------------------- */
       $header_font: 'PoppinsSemibold',
       sans-serif;
       $body_font: 'OpenSansLight',
       sans-serif;

       $background_color: #E6F2FF;
       $text_color: #E6F2FF;
       $accent_color: #3478C5;
       /* 4484CE  */
       $nav_color: #032F61;
       $star_yellow: #efba42;
       $button_blue: #599BE8;
       $light_blue: #C1DDFE;
       $cell_blue: #3477C6;
       $white: #FFF;
